body { 
    background-color:#E8CBCB;
    ;   
}

#color {
    color: azure;
}

.un {
    display:flex;
    background: black;
}

.un>*{
    margin: 5px 100px;
    flex: 1;
}

.trois{
    display:flex;
    padding: 150px;
}

.trois>*{
    margin: 50px 100px;
    flex: 1;
}

.connection, .panier{
    padding: 20px;
}

.image {
    padding: 10px;
}

#bienvenue {
    font-style: italic;
    font-size: larger;
    padding: 22px;
    text-align: center;
}

.mat-chocolat {
    background-color: #A77E7E;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-card {
    max-width: 300px;
    max-height: 600px;
    background-color: #09133B;
}
  
.example-header-image {
    background-size: cover;
}
