
  <mat-toolbar>
    <span>{{articleService.form.controls['id_article'].value?"Modifier un article":"Ajouter un article"}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
  </mat-toolbar>
  <form [formGroup]="articleService.form" class="normal-form" (submit)="onSubmit()">
    <mat-grid-list cols="1" rowHeight="400px">
      <mat-grid-tile>
        <div class="controles-container">
          <input type="hidden" formControlName="id_article">
          <mat-form-field>
            <input formControlName="name" matInput placeholder="Nom*">
            <mat-error>Ce champ est obligatoire</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="prix" matInput placeholder="Adresse*" class="show">
            <mat-error>Ce champ est obligatoire</mat-error>
          </mat-form-field>
          <mat-form-field >
            <input formControlName="taille" matInput placeholder="code postale*">
            <mat-error>Ce champ est obligatoire</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="quantite" matInput placeholder="ville*">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <div class="url_image">
              <mat-icon> attach_file</mat-icon>
              <input type="text" formControlName="image_url" matInput>
            </div>
          </mat-form-field>   
          <div class="button-row">
            <button mat-raised-button color="warn" type="submit">Submit</button>
            <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </form>