<div class="parent">
    <div class="item1">
      <div class="photo-example" height="600px" width="500px">
        <h1 style="font-weight: bold;">Order history</h1>

        <h2 class="subtitle" >In Progress</h2>
        <mat-divider></mat-divider>


        <div class="command_list" *ngIf="user.commandes" >

            <div *ngFor="let cmd of user.commandes">
                <mat-card class="card_command" *ngIf="!cmd.etat_commande"  >
                    <mat-card-title>Command #{{cmd.id_commande}}</mat-card-title>
                    <mat-card-subtitle>Date : {{cmd.date_commande}} </mat-card-subtitle>
                    <mat-card-subtitle>Prix : {{cmd.prix_commande}} </mat-card-subtitle>
                    <mat-card-actions align="end">
                      <button mat-button><mat-icon>remove_red_eye</mat-icon></button>
                      <button mat-button><mat-icon>cancel</mat-icon></button>
                    </mat-card-actions>
                </mat-card>
            </div>


        </div>

        <h2 class="subtitle" >Validated</h2>
        <mat-divider></mat-divider>

        <div class="command_list" *ngIf="user.commandes" >

            <div *ngFor="let cmd of user.commandes">
                <mat-card class="card_command" *ngIf="cmd.etat_commande"  >
                    <mat-card-title>Command #{{cmd.id_commande}}</mat-card-title>
                    <mat-card-subtitle>Date : {{cmd.date_commande}} </mat-card-subtitle>
                    <mat-card-subtitle>Prix : {{cmd.prix_commande}} </mat-card-subtitle>
                    <mat-card-actions align="end">
                      <button mat-button><mat-icon>remove_red_eye</mat-icon></button>
                    </mat-card-actions>
                </mat-card>
            </div>


        </div>



      </div>
    </div>
  </div>
